body {
	margin: 0px;
	font-size:12px;
	}
	
td,div,span {
	font-size:12px;
	}

.textbox {
	width:190px;
	}
	
.btn {
	height: 20px;
	width:130px;
	padding-top: 2px;
	border: 1px solid #AECDE7;
	border-top: 1px solid #AECDE7;
	border-left: 1px solid #AECDE7;
	background-color: #FFFFFF;
	}
		
.mytable, .mytable td {
	border-collapse:collapse;
	border: solid #AECDE7;
	border-width:1px 1px 1px 1px;
	padding: 4px;
	}

.topbody{
	margin-top:2%;
	margin-left:5%;
	height:5%;
	width:98%;
	border: 0px solid #AECDE7;
}